<!-- importar a arquivo header.ejs -->
<%- include ('partials/header.ejs') %>

<body>
    <!-- importar a arquivo navbar.ejs -->
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Perguntas?</h1>
        <a href="/cadastro" class="btn btn-primary">Perguntar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
        <div class="card">
            <div class="card-body">
                <h3><%= pergunta.titulo %></h3>
            </div>
            <div class="card-footer">
                <a href="/pergunta/<%= pergunta.id %>">
                    <button class="btn btn-primary">Responder</button></a>
            </div>
        </div>
        <% }) %>


    </div>




</body>
<!-- importar a arquivo footer.ejs -->
<%- include ('partials/footer.ejs') %>